/* Empty. Add your own CSS if you like */
.no-gutter {
  margin: 0 !important;
  padding: 0!important;
}

.circled {
	border-radius: 25px !important;
}

.thick-border{
	border-width: 2px !important;
}

.no-right-border{
	border-right: 0 !important;
}

.no-left-border{
	border-left: 0 !important;
}

.no-bottom-border{
	border-bottom: 0 !important;
}

.no-top-border{
	border-bottom: 0 !important;
}

.smaller {
	font-size: 80% !important;
}

.no-vertical-padding{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.options-radio .item-content {
	background: #EFEFEF !important;
}